# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# STARTIO_APP_ID: Your Start.io Account App ID from portal.start.io
# Format is usually a 9-digit number e.g. 201234567
STARTIO_APP_ID=208765432
